@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Onest", sans-serif;
}
